@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .intensive_box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .about {
        background: none;
    }

    .about_content {
        padding-left: 0;
    }

    .skills {
        height: auto;
    }

    .skills_box {
        flex-wrap: wrap;
        gap: 30px;
    }
    
}

/* Телефоны меле  */
@media (max-width: 420px) {
    .title_one {
        font-size: 25px;
    }

    .title_two {
        font-size: 56px;
    }
}